#statsTab_listView, #trendsTab_listView {
    -fx-pref-width: 292;
    -fx-pref-height: 270;
}

#historyTab_comboBox {
	-fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-min-width: 24;
    -fx-min-height: 24;
}