#statsTab_listView, #trendsTab_listView {
    -fx-pref-width: 292;
    -fx-pref-height: 270;
}

/* #listView_total .list-cell {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: white;
}*/